{% extends 'base.html.twig' %}

{% block title %}Ajouter un anime{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="content">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p style ="color:red;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <a href="{{ path('accueil') }}" class="">Retour</a>
        <h2>Ajouter un anime</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}